.container {
  :global {
    .ant-modal-content {
      padding-top: 0;
      padding-bottom: 0;
    }

    .ant-modal-content {
      padding-left: 0;
      padding-right: 0;
    }

    .left {
      border-right: 1px solid #eaeaf5;
    }

    .profile-header {
      height: 170px;
      border-bottom: 1px solid #eaeaf5;
    }

    .navigator {
      border-bottom: 1px solid #eaeaf5;
    }
  }
}
