.banner {
  @apply h-[440px] grid grid-cols-5 gap-4 relative mb-32
  lg:h-[770px] lg:mb-0;

  :global {
    .left {
      @apply bg-white col-span-2 hidden
      lg:col-span-2 lg:block;
    }
    .form {
      @apply absolute bottom-[-100px] z-[99] w-full px-4
      lg:bottom-[40px];
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .right {
      @apply relative w-full h-full col-span-5
      lg:col-span-3;

      box-shadow: rgb(210, 250, 240) -10px 0px 0px 0px;
      background: #23d2e2;
      z-index: 99;

      .overlay {
        @apply absolute top-0 left-0 w-full h-full bg-[rgb(251,255,255,0.65)] z-10
        lg:bg-[rgba(210,250,240,0.25)];
      }

      img {
        z-index: 0;
      }
    }
  }
}